# Byte-compiled / optimized
__pycache__/
*.py[codz]

# Virtual Environments
venv/
.venv/
env/

# IDE / System
.vscode/
.idea/
.DS_Store

# Jupyter Notebooks
.ipynb_checkpoints/

# PyTorch Model Weights
*.pth
*.pt

# Project Specific Directories
dataset/
Datasets/
master_dataset_split/
results/
models_pretrained/

# Logs & Archives
*.log
*.zip